@media only screen and (max-width:750px) {
    #bottom-dock-wrap {
        background-color: blueviolet;
        position: fixed;
        bottom: 0;
        left: 0%;
        width: 100%;
    }

    #bottom-dock-wrap .nav-bar-nav-tab {
        padding: 0;
        text-align: center;
        margin: 0;
    }

    #bottom-dock-wrap .nav-bar-nav-tab .nav-bar-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 12px;
        padding-top: 13px;
    }

    #bottom-dock-wrap .nav-bar-nav-tab .nav-bar-item a {
        font-size: 12px;
        color: white;
        text-decoration: none;
    }

    #bottom-dock-wrap .nav-bar-nav-tab .nav-bar-item a .fa {
        font-size: 20px;
    }


}